<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lost and Found Pets</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link rel="index" href="index.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Search for your Animal</h3>
        </div>

        <div class="jumbotron">
            <h1>Search for Your Pet</h1>
            <p class="lead"></p>
            <p>
                <p>Narrow your search of animals by Type of Animal, Adoptable or Lost, or Gender! You may select one option to narrow your search by.</p>
            </p>
        </div>

        <hr>

        <!-- Select options for narrowing results -->
        <form action="/narrow_type">
            <select name="type" style="width: 160px;">
                <option value="typeOfAnimal">Type of Animal</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
            </select>
            <input type="submit" style="width: 160px;">
        </form>

        <form action="/narrow_adoptable">
            <select name="aorl" style="width: 160px;">
                <option value="aorl">Adoptable or Lost</option>
                <option value="Adoptable">Adoptable</option>
                <option value="Lost">Lost</option>
            </select>
            <input type="submit" style="width: 160px;">
        </form>

        <form action="/narrow_gender">
            <select name="gender" style="width: 160px;">
                <option value="gender">Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <input type="submit" style="width: 160px;">
        </form>
        </hr>
        <hr>
        
        <!-- Pulls from database -->
        {% for pet in pets %}
        <div class="row">
            <div class="col-md-6">
                <a href="#">
                    <img class="img-fluid rounded mb-3 mb-md-0" <img src={{pet.image}} alt="" style="height:300px; width:450px">
                </a>
            </div>

            <div class="col-md-6">
                <h3>{{pet.animal_breed}}</h3>
                <p>Type: {{pet.animal_type}}</p>
                <p>Color: {{pet.color}}</p>
                <p>Gender: {{pet.animal_gender}}</p>
                 <p>Record: {{pet.record_type}}</p>
            </div>
        </div>
        
        <hr>
        {% endfor %}

        </hr>

</body>

</html>